

<table border="1" cellpadding="5" cellspacing="0">

    <tr>
        <th>ID</th>
        <th>odd value</th>
    </tr>
    
        @{
            int id = 1;
            for (int i = 501; i <= ViewBag.val; i += 2)
            {
                var rowColor = (id % 2 == 0) ? "background-color: pink;" : "background-color: gray;";
                <tr style="@rowColor">
                    <td>@id</td>
                    <td>@i</td>
                </tr>
                id++;
            }
        }
        
</table>

